body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
    width: 100%;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
}
#panel {
    float: left;
    width: 300px;
    background: #f7f9ff;
    height: 100vh;
    overflow: hidden;
    padding: 0 0 0 10px;
}
#panel > div {

}
#map-container {
    margin-left: 310px;
}
#map {
    width: 100%;
    height: 100vh;
}
#markerlist {
    margin: 0px 0 0 0px;
}
#markerlist span {
    font-size: 12px;
    color: #6c6c75;
}
#markerlist > div {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
}
.markerCont {
    top: 340px;
    bottom: 0;
    overflow: auto;
    position: fixed;
    width: 300px;
}
.heading {
}
.title {
    overflow: hidden;
    width: 256px;
    cursor: pointer;
    padding: 2px 0;
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
.title:visited {
    color: #000;
}
.title:hover {
    background: #e0ecff;
}
#timetaken {
    color: #f00;
}
.info {
    width: 220px;
}
.info h3 {
    margin-top: 10px;
    font-size: 18px;
}
.info img {
    border: 0;
}
.info-body {
    width: 220px;
    /*height: 200px;*/
    /*line-height: 200px;*/
    margin: 2px 0 10px;
    text-align: center;
    overflow: hidden;
}
.info-img {
    /*height: 220px;*/
    width: 220px;
}
.heading .header {
    background-position: 1px 3px;
    background-repeat: no-repeat;
    background-image: url(images/logo.png);
    background-size: 40px;
    text-transform: uppercase;
    font-size: 22px;
    margin: 10px 0 20px;
    padding: 10px 0 7px 55px;
}

.heading .settings {
    padding: 20px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.settings input {
}
.settings .setting {
    height: 20px;
}
.setting.group {
    margin-top: 10px;
    opacity: 0.8;
}
.postsHeader {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.categories {
    font-size: 17px;
    color: #6e6e6e;
    margin-bottom: 7px;
}


/*checkboxes*/

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox.groupper .control__indicator {
    background: #b1b1c0 !important;
}

.heading a {
    text-decoration: none;
    color: black;
}

.postPreview {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.journalLink {
    font-size: 16px;
}

.gm-style-iw {
    left: 23px !important;
}